.page-node-type-survey {
  .region-content .content {
    .page-header {
      margin-bottom: 15px !important;
    }
    .field--name-field-summary {
      padding-bottom: 30px;
      margin-bottom: 60px;
      border-bottom: 1px solid #777;
    }
    .field--name-body {
      strong {
        color: $brand-secondary;
      }
    }
  }
}