#block-aboutukyachtsurveyors {
  padding: 20px 0;
  .about-staff {
    text-align: center;
    img {
      margin: 0 auto;
      display: block;
      border-radius: 100%;
      max-width: 160px;
      max-height: 160px;
    }
  }
}

#block-sidebaraboutjonathon {
  img {
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    max-width: 160px;
    max-height: 160px;
  }
}