#block-homeimagelinks {
  margin-top: 40px;
  .image-link {
    position: relative;
    a {
      position: relative;
      display: block;
    }
    img {
      position: relative;
    }
    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: #fff !important;
      text-transform: uppercase;
      font-size: 18px;

      background-color: rgba(86, 160, 206, 0.5);
      background: linear-gradient(180deg, rgba(86, 160, 206, 0) 0%, rgba(86, 160, 206, 0.8) 90%, rgba(86, 160, 206,1) 100%);
      padding: 40px 10px 15px;
      -webkit-transition: 0.8s;
      transition: 0.8s;
    }
    a:hover p {
      background-color: rgba(86, 160, 206, 0.7);
      background: linear-gradient(180deg, rgba(86, 160, 206, 0) 0%, rgba(86, 160, 206, 0.6) 40%, rgba(86, 160, 206,1) 100%);
      padding: 40px 10px 15px;
      -webkit-transition: 0.8s;
      transition: 0.8s;
    }
  }
}

@media (max-width: 767px) {
  #block-homeimagelinks {
    .image-link+.image-link {
      margin-top: 30px;
    }
  }
}