#block-homequotes {
  text-align: center;
  .view-all {
    margin-bottom: 15px;
    a {
      color: #fff !important;
      border: 1px solid #fff !important;
      text-transform: unset;
      font-size: 15px;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.05) !important;
    }
  }

  #myCarousel {
    //padding-bottom: 30px;
  }
  .carousel-indicators {
    //bottom: -20px;
    display: none;
  }
  .carousel-inner {
    max-width: 1000px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

