#homeCarousel {
  position: relative;
  .carousel-inner {
    position: relative;
    .item {
      background-color: #0a4975;
      img {
        width: 100%;
        height: auto;
        position: relative;
        opacity: 0.2;
        opacity: 0.5;
        opacity: 0.3;
      }
      .overlay {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        p {
          line-height: 1.4;
        }
        .line-one {
          margin-bottom: 0;
          font-size: 20px;
          font-family: $font-bold;
          font-weight: bold;
          text-transform: uppercase;
        }
        .line-two {
          font-size: 40px;
          margin-bottom: 0;
          font-weight: 100;
          font-family: $font-light;
        }
        .line-three {
          font-size: 20px;
          font-family: $font-bold;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 949px) {
  #homeCarousel .carousel-inner .item .overlay {
    top: 22%;
  }
}

@media (max-width: 767px) {
  #homeCarousel .carousel-inner .item .overlay {
    top: 15%;
    .line-one,
    .line-three {
      font-size: 18px;
      font-size: 4vw;
    }
    .line-two {
      font-size: 20px;
      font-size: 5vw;
    }
  }
}

@media (max-width: 599px) {
  .carousel-indicators {
    display: none;
  }
}

@media (max-width: 499px) {
  #homeCarousel .carousel-inner .item .overlay .line-one {
    display: none;
  }
}

@media (max-width: 399px) {
  #homeCarousel .carousel-inner .item .overlay {
    top: 25%;
    .line-two {
      font-size: 20px;
    }
    .line-three {
      font-size: 14px;
    }
  }
}