#block-servicessummary {
  margin: 30px 0;
  li {
    margin-bottom: 5px;
  }
  ul li a {
    color: $text-color;
  }
}

#block-sidebaraboutjonathon {
  text-align: center;
  img {
    margin: 0 auto 10px;
    display: block;
  }
}