#block-webform {
  display: none;

  overflow: auto;

  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8) !important;
  .webform-submission-request-a-quote-form {
    position: relative;
    background-color: #fff;
    padding: 30px;
    overflow-y: auto;
    margin: 25px auto;
    max-width: 800px;
    max-width: 90vw;
  }

  .webform-exit {
    position: absolute;
    top: 15px;
    right: 20px;
    max-width: 30px;
    a:hover img {
      opacity: 0.5;
    }
  }

  .form-actions {
    display: inline-block;
  }
  .captcha {
    float: left;
    display: inline-block;
    margin-right: 30px;
  }
}

#block-webform .captcha > .g-recaptcha > div {
  max-width: 300px;
}

.path-webform {
  .webform-submission-request-a-quote-form {
    max-width: 750px;
  }
}

.webform-progress {
  .progress-step:not(:last-child)::after {
    z-index: 1;
  }
  .progress-marker {
    padding-bottom: 0;
    padding-top: 2px;
  }
}

@media (max-width: 991px) and (min-width: 599px) {
  #block-webform {
    padding: 10%;
  }
}

@media (max-width: 599px) {
  #block-webform {
    padding: 10px;
    .webform-progress {
      margin-top: 30px;
    }
    .form-actions {
      .btn {
        padding: 5px 6px 3px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 399px) {
  #block-webform {
    .webform-submission-request-a-quote-form {
      padding: 30px 15px;
    }
    .captcha {
      transform: scale(.7);
      transform-origin: left;
    }
  }
}
