.region-sidebar-second {
  .sidebar-slideshow {
    #myCarousel {
      margin-bottom: 30px;
    }


    @media (min-width: 768px) {
      #myCarousel {
        .carousel-indicators {
          bottom: 0;
          left: 0;
          width: 30%;
          margin-left: 0;
        }
      }
    }
  }
}