/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$brand-primary:  #56a0ce;
$brand-secondary:  #15364b;
$brand-tertiary:  #ffe200;

$font-book: 'Avenir LT W01_45 Book1475508', Sans-Serif;
$font-light: 'Avenir LT W01_35 Light1475496', Sans-Serif;
$font-bold: 'Avenir LT W01_95 Black1475556', Sans-Serif;
$font-family-sans-serif: 'Avenir LT W01_45 Book1475508';
$headings-font-family: $font-family-sans-serif;

$font-size-base: 15px;
$line-height-base: 1.7;

$font-size-h1:  24px;
$font-size-h2:  22px;
$font-size-h3:  20px;