@media (min-width: 768px) {
  body {
    margin-top: 0;
    padding-top: 15px;
  }
}

.path-frontpage,
.page-node-11 {
  .page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
  }
}

.page-header {
  border-bottom: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.hero-wrap {
  #block-homebanner {
    padding: 20px 0 10px;
  }
}

.feature-text,
.feature-text-large {
  color: $brand-primary;
}
.feature-text-large {
  font-size: 20px;
}

.btn {
  border-radius: 12px;
  padding: 7px 14px 4px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px 0;
}

.request-a-quote.btn {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 35px 9px;
  margin: 10px auto;
  display: block;
  max-width: 290px;
}

ul > li > ul > li > ul {
  margin-bottom: 20px;
}

th, td {
  min-width: 120px;
}

.region-sidebar-second {
  section+section {
    margin-top: 30px;
  }
}

.path-frontpage .main-content.main-container {
  margin-top: 30px !important;
  padding-top: 0 !important;
  padding-bottom: 60px !important;;
}

.path-frontpage,
.page-node-11 {
  .main-content.main-container {
    background-image: none !important;
  }
  .lower-content {
    padding-top: 30px;
    background-image: url("/sites/default/files/graphics/graphic-sails.svg");
    background-size: contain;
    background-position: right top -150px;
    background-repeat: no-repeat;
  }
}

.main-content.main-container {
  background-image: url("/sites/default/files/graphics/graphic-sails.svg");
  background-size: 40%;
  background-position: right bottom;
  background-repeat: no-repeat;
  margin-top: 0 !important;
  padding-top: 60px;
  padding-bottom: 80px;
}

//* {
//  background-color: rgba(255, 192, 203, 0.01);
//}