.footer-wrap {
  background-color: $brand-secondary;
  color: #fff;
}
.footer {
  border: none !important;
  p, li, h1, h2, h3, a {
    color: #fff !important;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}