#navbar {
  margin-bottom: 0;
  border-bottom: 3px solid #e5e5e5;
  .caret {
    display: none !important;
  }
}

#navbar .logo {
  margin-top: 0;
  margin-bottom: 10px;
  img {
    max-height: 85px;
  }
}

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-header {
  padding-left: 15px;
}

.navbar {
  background-color: #fff;
  border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent !important;
}

#block-ukyachts-main-menu > ul > li:last-child {
  padding-top: 6px;
  a {
    color: #fff;
    background-color: #56a0ce !important;
    border-color: #4295c8;
    border-radius: 12px;
    padding: 6px 14px 5px;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 15px;
  }
}

.navbar-default .navbar-toggle {
  margin-top: 25px;
}

@media (min-width: 1119px) {
  .menu.menu--main.nav.navbar-nav {
    .dropdown-menu li {
      padding: 3px 0;
    }
  }
}

@media (max-width: 1119px) {
  #block-ukyachts-main-menu {
    position: relative;
  }
  .menu.menu--main.nav.navbar-nav {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 99;
    background: #fff;
    margin-top: 0;
    border: 3px solid #e5e5e5;
    border-top: none;
    padding: 10px;
    width: 230px;
    li {
      float: right;
      text-align: right;
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
  .navbar-collapse.in {
    overflow: unset !important;
  }
  #block-ukyachts-main-menu > ul > li:last-child a {
    margin-left: 0;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }

  .dropdown-menu {
    left: -105px;
    min-width: 310px;
  }
  .menu.menu--main.nav.navbar-nav li {
    float: left;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right !important;
    margin-top: 18px;
  }
  .menu.menu--main.nav.navbar-nav {
    right: 0;
  }

}


@media (max-width: 767px) {
  .menu.menu--main.nav.navbar-nav {
    width: 310px;
  }
  .menu.menu--main.nav.navbar-nav .expanded.dropdown.active.open {
    background-color: #efefef !important;
  }
}

@media (max-width: 425px) {
  #navbar .logo {
    padding-left: 0;
    img {
      max-width: 160px;
      margin: 14px 0 3px;
    }
  }
  .menu.menu--main.nav.navbar-nav {
    width: 270px;
  }
}


#block-mobilerequestaquotesticky{
  display: none;
}


.navbar.navbar-default{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  z-index: 99;
}

body.toolbar-fixed .navbar.navbar-default{
  top: 80px;
}

body.toolbar-fixed.toolbar-vertical .navbar.navbar-default{
  top: 39px;
}

.dialog-off-canvas-main-canvas{
  padding-top: 95px;
}

.navbar{
  position: relative;
  padding-bottom: 35px;
}
.menu.menu--main.nav.navbar-nav {
  top: 35px !important;
}

@media (max-width: 1119px) {
  #block-mobilerequestaquotesticky {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #56a0ce;

    a {
      text-transform: uppercase;
      display: block;
      color: white;
      padding: 5px;
    }
  }


  .navbar.navbar-default {
    height: 130px;
  }

  .dialog-off-canvas-main-canvas{
    padding-top: 130px;
  }

}



@media (min-width: 700px) and (max-width: 1119px) {
  #block-mobilerequestaquotesticky {
    top: 70px;
    left: auto;
    bottom: auto;
    right: 15px;
    background-color: white;

    a{
      margin: auto;
      width: 200px;
      background-color: #56a0ce;
      border-radius: 5px;
    }
  }
}
