.view-articles.view-display-id-page_1 {
  margin: 30px 0 60px;
  .view-content {
    max-width: 750px;
    .views-row+.views-row {
      border-top: 1px solid #e5e5e5;
      margin-top: 15px;
      padding-top: 15px;
    }
    .views-row {
      .views-field-title {
        font-size: 20px;
      }
      .views-field-body {
        margin: 10px 0 5px;
      }
      .views-field-view-node {
        font-size: 16px;
      }
      a:hover {
        text-decoration: none !important;
      }
    }
  }
}

#block-views-block-articles-block-1 {
  .view-content {
    .views-row {
      margin-bottom: 7px;
    }
  }
}