.view-testimonials.view-display-id-page_1 {
  margin: 30px 0 60px;
  .view-content {
    margin-top: 30px;
    max-width: 750px;
    .views-row+.views-row {
      border-top: 1px solid #e5e5e5;
      margin-top: 15px;
      padding-top: 15px;
    }
  }
}